.action-bar {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 20px;
  padding-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .action-bar {
    justify-content: space-between;
  }
}
