.model {
  --inset: 10px;
  width: clamp(300px,
              calc(100vw - 2 * var(--inset)),
              800px);
  height: fit-content;
  border: 1px solid var(--text-color-dark1);
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) ;
  background-color: var(--terminal-background);

  .highlighted {
    color: var(--primary-color)
  }
}

.model-background {
  background-color: black;
  opacity: 50%;
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
}
