* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--terminal-background);
}

.App {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr auto;
  font-family: var(--code-font);
  color: var(--text-color);
  padding: 40px;
  padding-bottom: 0px;
  column-gap: 20px;
}

section {
  overflow: hidden;
}

.button-outlined {
  background-color: unset;
  font-family: var(--code-font);
  font-size: 1.125rem;
  padding: 10px 20px;
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.button-outlined-error {
  border: 2px solid var(--error-color);
  color: var(--error-color);
}

@media screen and (max-width: 768px) {
  .App {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    padding: 20px;
    padding-bottom: 0px;
  }

  .stats-section {
    display: none;
  }
}
